<!DOCTYPE html>
<html>
  <head>
    <title> {title} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json?appver=730">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="imagem/png" href="app/images/icon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="app/images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
    {LIBRARIES}
    {HEAD}
    
    <link href="app/lib/include/admin.min.css?appver=730" rel="stylesheet" type="text/css" media="screen">
    <!-- <link rel="stylesheet" href="app/templates/{template}/css/AdminLTE.min.css"> -->
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <!-- <link rel="stylesheet" href="app/templates/{template}/css/skins/_all-skins.min.css"> -->
    
    <!-- Custom Css -->
    <link rel="stylesheet" href="app/templates/{template}/app/application.css">
    <link href="app/templates/{template}/custom.css" rel="stylesheet" type="text/css" media="screen">
    <script>
    $(function() {
        __adianti_set_language('{lang}');
        __adianti_set_debug({debug});
    });
    </script>
  </head>
  <body>
        <div id="wrapper" style="width:90%;margin:auto;margin-top:10px">
            <div id="adianti_div_content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div> 
        </div>
  </body>
</html>
